@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron:wght@400..900&family=Rowdies:wght@300;400;700&family=Russo+One&display=swap');
/* CSS Styles Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rowdies', sans-serif;
}

#wall {
    background: url(../images/bg4.png) no-repeat 100% 0% / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#neonsign {
    display: block;
    width: 100%;
    transform: scale(0.8);
    position: relative;
    top: 0;
}

#clock-container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#clock {
    display: block;
    width: 100px;
    overflow: hidden;
    align-self: center;
    position: relative;
    margin-top: -15px;
    z-index: 1;
}

#clock-text {
    display: flex;
    justify-content: center;
    color: red;
    z-index: 99;
    margin-top: -39px;
    position: relative;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
    gap: 25px;
}

#correctScore {
    display: flex;
    color: green;
    width: 20px;
    justify-content: center;
}

#incorrectScore {
    display: flex;
    width: 20px;
    justify-content: center;
}

#clock-text p {
    padding-left: 0px;
}

#topic {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    -webkit-text-stroke: 1px palevioletred;
    text-shadow: rebeccapurple 0 0 20px;
    margin-top: 15px;
}

#tv {
    margin-top: 40px;
    display: block;
    width: 85%;

}

#tv-topic {
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
       
    width: 80vw;
    height: 200px;
    z-index: 99;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 35px;
    background-color: rgb(87, 87, 87);
    padding: 15px;
}

#topic1, #topic2, #topic3, #topic4 {
    background-color: bisque;
    border: 1px solid black;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#topic1 {
    border-radius: 30px 0 0 0;
}
#topic2 {
    border-radius: 0 30px 0 0;
}
#topic3 {
    border-radius: 0 0 0 30px;
}
#topic4 {
    border-radius: 0 0 30px 0;
}

#topic1:hover, #topic2:hover, #topic3:hover, #topic4:hover {
    transform: scale(1.1); 
}

#description, #description2, #description3, #description4 {
    display: none;
    justify-content: center;
    align-items: center;
}

#descriptionbox1 {
    
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: 1px solid black;
    border-radius: 45px 0 45px 45px;
    margin-top: 15px;
    padding: 15px;
    width: 70%;
}

#description-text1, #description-text2, #description-text3, #description-text4 {
    background-color: antiquewhite;
    border-radius: 35px 0 35px 35px;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 14px;
}

.startbtn {
    display: block;
    position: absolute;
    bottom: 2%;
    color: white;
    font-size: 3rem;
    border: none;
    animation: 2s ease-in-out 0s infinite normal both grow;
    -webkit-text-stroke: 1px palevioletred;
    text-shadow: rebeccapurple 0 0 20px;
}

@keyframes grow {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input {
    font-family: 'Bangers', sans-serif;
    color: whitesmoke;
    background-color: transparent;
    text-align: center;
}

.first-input {
    border: 3px solid white;
    border-radius: 5px;
    width: 70%;
    font-size: large;
    background-color: rgba(197, 197, 197, 0.815); 
    padding: 5px 50px;
    
}

i {
    margin-top: 15px;
    font-size: 20px;
}

.first-input-label {
    color: whitesmoke;
    font-size: x-large;
    margin-bottom: 5px;
    text-align: center;
    text-shadow: rebeccapurple 0 0 20px;
    -webkit-text-stroke: 1px palevioletred;
}

.second-input {
    color: white;
    padding: 5px 80px;
    font-size: 3rem;
    border: none;
    animation: 2s ease-in-out 0s infinite normal both grow;
    -webkit-text-stroke: 1px palevioletred;
    text-shadow: rebeccapurple 0 0 20px;
}

@keyframes grow {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Game Page CSS */

#tv-bg {
    display: flex;
    width: 85vw;
    z-index: 99;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 35px;
    background-color: rgb(87, 87, 87);
    padding: 15px;
}

#question1, #question2, #question3, #question4, #question5 {
    background-color: bisque;
    font-size: larger;
    border: 1px solid black;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
}

#arcade1 {
    display: flex;
    justify-content: center;
}

#arcade2, #arcade3, #arcade4, #arcade5 {
    display: none;
    justify-content: center;
}

#answer-box {

    position: absolute;
    bottom: 0;
    width: 90%;
    margin-bottom: 40px;
}

#answer111, #answer112, #answer113, #answer114,
#answer121, #answer122, #answer123, #answer124,
#answer131, #answer132, #answer133, #answer134,
#answer141, #answer142, #answer143, #answer144,
#answer151, #answer152, #answer153, #answer154{
    border: 1px solid gray;
    border-radius: 25px;
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
}

#answer111:hover, #answer112:hover, #answer113:hover, #answer114:hover,
#answer121:hover, #answer122:hover, #answer123:hover, #answer124:hover,
#answer131:hover, #answer132:hover, #answer133:hover, #answer134:hover,
#answer141:hover, #answer142:hover, #answer143:hover, #answer144:hover,
#answer151:hover, #answer152:hover, #answer153:hover, #answer154:hover {
    transform: scale(1.1); 
}

#arcade-end {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    max-width: 90%;
}

#arcade-end-bg{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
}

#game-end-text {
    font-size: 1.5rem;
}

#final-score {
    margin-top: 50px;
    font-size: 1.5rem;
}

.exitbtn {
    margin-top: 50px;
    color: white;
    font-size: 2rem;
    border: none;
    animation: 2s ease-in-out 0s infinite normal both grow;
    -webkit-text-stroke: 1px palevioletred;
    text-shadow: rebeccapurple 0px 0px 20px;
}

@keyframes grow {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}